.contact{
  background: $darkBg;
  padding: 113px 0 100px;
  @media(max-width: 768px){
    padding: 75px 0;
  }

  &__text{
    max-width: 778px;
    margin: 0 auto;
    text-align: center;
  }

  .main__subtitle{
    margin-bottom: 22px;
  }
}